{{ range .Site.Params.certs }}
	<li>
		<a href="{{ .url }}" target="_blank" class="btn btn-default btn-med">
			<i class="fab fa-{{ .icon }} fa-fw"></i>
			<span class="network-name">{{ .title }}</span>
		</a>
	</li>
{{ end }}
