<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#intro">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    {{ if isset .Site.Params "social" }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="" href="https://blog.digi-merc.org" target="_blank">Blog</a>
                    </li>
                    {{ end }}
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{now.Format "2006"}} {{ .Title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
		            <!-- custom footer info goes here -->
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
