<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll navbar-brand" href="#intro"><img src="/img/redhand.png" alt=""/> Digital Mercenary</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                {{ if isset .Site.Params "social" }}
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                {{ end }}
                <li>
                    <a class="" href="https://square.link/u/j2NfQZh8" target="_blank">Make a Payment</a>
                </li>
                <li>
                    <a class="" href="https://blog.digi-merc.org" target="_blank">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="intro">
	<!-- Header -->
	<div class="intro-header">

	    <div class="container">

		<div class="row">
		    <div class="col-lg-12">
			<div class="intro-message">
			    <h1>{{ .Site.Title }}</h1>
			    <h3>{{ .Site.Params.description }}</h3>
			    <hr class="intro-divider">
			    {{ if isset .Site.Params "social" }}
			    <ul class="list-inline intro-social-buttons">
				        {{ partial "social.html" . }}
			    </ul>
			    {{ end }}
          <hr class="intro-divider">
          {{ if isset .Site.Params "certs" }}
          Certifications / Qualifications
          <ul class="list-unstyled">
                {{ partial "certs.html" . }}
          </ul>
          {{ end }}
			</div>
		    </div>
		</div>

	    </div>
	    <!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
