{{ range .Site.Params.social }}
	<li>
		<a href="{{ .url }}" class="btn btn-default btn-lg">
			<i class="{{ .icon }} fa-fw"></i>
			<span class="network-name">{{ .title }}</span>
		</a>
	</li>
{{ end }}
